name: 03 - SAST (Java Maven)

on:
  workflow_call:

jobs:
  sast:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v3
