name: 01 - Build

on:
  workflow_dispatch:
  pull_request:
  workflow_call:

jobs:
  verify:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: maven

      - name: Run Tests
        run: mvn test -B
        
      - name: Upload application binary
        uses: actions/upload-artifact@v4
        with:
          name: Application-Binary
          path: target/*.jar
