name: 01 - Main CI / Security Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
  workflow_dispatch:

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write
  actions: read
  security-events: write
  packages: write

jobs:
  build:
    name: Construcción
    uses: ./.github/workflows/build.yml
    secrets: inherit

  sca:
    name: Ana+álisis de composición
    needs: build
    uses: ./.github/workflows/analisis-composicion.yml
    secrets: inherit

  sast:
    name: Análisis estático
    needs: build
    uses: ./.github/workflows/analisis-estatico.yml
    secrets: inherit
