name: 01 - Main CI / Security Pipeline

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
  workflow_dispatch:

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write
  actions: read
  security-events: write
  packages: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  sca:
    name: Analisis de composicion
    needs: build
    uses: ./.github/workflows/analisis-composicion.yml
    secrets: inherit

  sast:
    name: Analisis estatico
    needs: build
    uses: ./.github/workflows/analisis-estatico.yml
    secrets: inherit
